.Pagination{
    display: flex;
    justify-content: center;

}
.boxes{
    display: flex;
    float: left;
}
.box{
    display: grid;
    border: 1px solid rgb(172, 157, 157);
    padding: 15px;
    cursor: pointer;
}
.rightArrow{
    display: grid;
    border: 1px solid grey;
    padding: 15px;
    cursor: pointer;   
}
.pageSelected{
    background-color: blue;
}
.box1{
    width: 150px;
    height: 150px;
    border: solid black 1px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.colorDropdown{
    margin: 10px;
}
.stopwatch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
  
}
.stopwatch>button{
    margin: 4px;   
}